<div class="page-action-subheader">
  <h1>Properties</h1>
  <%= link_to "Add Property", new_property_path, class: "button button-secondary" %>
</div>

<% if @properties.any? %>
  <div class="properties-index">
    <% @properties.each do |p| %>
      <div class="property">
        <h2>
          <%= link_to p.label, property_path(p) %>
        </h2>
        <p>
          <%= p.address %><br />
          <%= p.city %>, <%= p.state %> <%= p.zip_code %>
        </p>
        <p>
          Listed by:
          <br />
          <strong>
            <%= p.user.first_name %> <%= p.user.last_name %>
          </strong>
        </p>
      </div>
    <% end %>
  </div>
<% end %>